.container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    background-color: white;
    background-image: url(/paper.jpg);
    justify-content: space-around;
}

.poster {
    border: 2px solid #111;
    margin: 30px;
}

.info {
    font-family: "Bangers", cursive;
    margin: 50px 30px 20px;
}

.info * {
    padding-bottom: 30px;
    border-bottom: 2px solid #111;
    
}

.info h2 {
    font-size: 40px;
}

.info p {
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
}